@model BudgetManager.Models.Category

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Category</h4>
        <hr />
        @Html.Label("CategoryName")
        @Html.EditorFor(x => x.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            
                <input type="submit" value="Save" class="btn btn-default" />
          
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
