@model BudgetManagerV2.Models.Category

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Category
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
           Parent Category
        </dt>

        <dd>
<<<<<<< HEAD
            @Html.DisplayFor(model => model.Category2.Name)
=======
            @Html.DisplayFor(model => model.ParentCategory)
>>>>>>> ecd30b5f8e7ed4399f0a40b8a669fb821436419f
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>