@model IEnumerable<BudgetManagerV2.Models.Category>

<div id="TreeView">
   
    <h2>Category Treeview</h2>

    @Html.ActionLink("Create New Category", "Create", null, new { @class = "top-link fat-link"})
    
    @helper ShowTree(ICollection<BudgetManagerV2.Models.Category> cat)
    {
        <ul>
            @foreach (var item in cat)
            {
                if (cat.Last() == item)
                {
                    @:<li class="last">
                }
                else
                {
                    @:<li>
                }
                @Html.ActionLink(@item.Name, "Edit", new { id = item.Id })
                    if (item.ChildrenCategory.Any())
                    {
                        @ShowTree(item.ChildrenCategory)
                    }
                @:</li>
            }
        </ul>
    }

    <ul class="tree">
        @{
            List<BudgetManagerV2.Models.Category> parents = new List<BudgetManagerV2.Models.Category>();
            foreach (var item in Model)
            {
                if (item.Cat_ID == null)
                {
                    parents.Add(item);
                }
            }

            foreach (var item in parents)
            {
                if (item == parents.Last())
                {
                    @:<li class="last">
                }
                else
                {
                    @:<li>
                }
                    @Html.ActionLink(@item.Name, "Edit", new { id = item.Id })
                    @ShowTree(item.ChildrenCategory)
                @:</li>
            }
        }
    </ul>
</div>

@if (ViewBag.Message != null)
{
    <script>
            alert('@ViewBag.Message');
    </script>
}