@model IEnumerable<BudgetManager.Models.SubCategory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.SubCategory)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @item.SubCategoryName
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SubCategoryName }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SubCategoryName })
            </td>
        </tr>
    }

</table>

@if (ViewBag.Message != null)
{
    <script>


alert('@ViewBag.Message');

    </script>
}